<h1>{{message}}</h1>
<p>This page is rendered using Handlebars!</p>

<a href="/simple-expressions">Simple Expressions</a>
<br>
<a href="/basic-helpers">Basic Helpers</a>
<br>
<a href="/block-helpers">Block Helpers</a>
<br>
<a href="/partials">Partials</a>