<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css">
</head>
<body>
{{> header }}
{{{body}}}
</body>
</html>

<style>
    html {
        padding: 20px;
        height: fit-content;
        box-sizing: border-box;
    }
</style>